table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  //text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px;
  vertical-align: top;
}

.table-header {
  font-size: x-small;
}

.center-container {
  text-align: center;
}

.title-container {
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.sub-title-container {
  text-align: center;
  font-weight: bold;
  font-size: small;
}

.themed-button {
  //background-color: #2863f1;
  background-color: #9e072d;
  color: white;
}