.table td, .table th {
  padding: 4px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.center-container {
  text-align: center;
}

.title-container {
  text-align: center;
  font-weight: bold;
  font-size: large;
}