<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-dark" style="padding: 0px 8px 0px 8px" *ngIf="currentUser">
    <div class="navbar-brand">{{eventName}}</div>
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink='/dashboard' routerLinkActive='active' routerLinkActiveOptions="{exact:true}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/bets' routerLinkActive='active' routerLinkActiveOptions="{exact:true}">Bets</a>
        </li>
    </ul>

    <div class="dropdown">
        <button (click)="showDropdown()" id="dropdownbtn" class="dropbtn"><span class="fa fa-user fa-lg"></span> {{currentUser.username}}</button>
        <div id="userDropdown" class="dropdown-content">
            <a href="#" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>