<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #155843;" *ngIf="currentUser">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink='/dashboard' routerLinkActive='active' routerLinkActiveOptions="{exact:true}">{{currentEvent ? currentEventFullName : 'Dashboard'}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/bets' routerLinkActive='active' routerLinkActiveOptions="{exact:true}">Bets</a>
        </li>
    </ul>
    <button type="button" class="btn btn-warning" style="height: 36px; margin-left: 10px;" (click)="logout()">Logout: {{currentUser.username}}</button>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>